html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

div#row {
    display: flex;

}

#sidnavrow {
    top: 63px;
}

/* label color */
.input-field label {
    color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: teal ;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid teal;
    box-shadow: 0 1px 0 0 teal;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid green;
    box-shadow: 0 1px 0 0 green;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #000;
}
   